@font-face {
    font-family: jedi;
    src: url(./asset/font/Starjedi.ttf);
  }
  

body{
    background-image: url(./asset/bg2.webp);
    overflow: visible;
    font-family: jedi;
    overflow: hidden;
}

.contenu{
    transform-origin: 45% 20%;
    transform: perspective(750px) rotateX(60deg);

    width: 50%;
    margin: auto;

}
.text {
    align-self: stretch;
    color: #ffc909;
    font-weight: bold;
    text-align: justify;
    animation: primary 70s linear;

}

h1, h2{
    text-align: center;
}

@keyframes primary {
    
    0% {
        transform: translateY(95%);
    }
    100% { 
        transform: translateY(-200%);
    }
}